In [19]:
import pandas as pd

In [20]:
from functools import reduce

In [21]:
df2= pd.read_excel('/home/antonio/Documentos/BV/RRHH/Data/Informe trimestral Q4 2020.xlsx',engine='openpyxl',sheet_name='HC YTD')
df2.columns

Index(['MES', 'PAIS', 'EMPRESA', 'RAZON SOCIAL', 'CIF', 'CODIGO FLEX EMPRESA',
       'CODIGO GPCN', 'PRIMER APELLIDO', 'SEGUNDO APELLIDO', 'NOMBRE',
       'FECHA NACIMIENTO', 'Nº FLEX', 'CODIGO SF', 'MAIL TRABAJADOR',
       'FECHA ANTIGUEDAD', 'NIF', 'SEXO', 'MODALIDAD DEL CONTRATO', 'NIVEL1',
       'NIVEL2', 'NIVEL3', 'PC', 'OFICINA FISICA', 'CODIGO FLEX OFICINA',
       'CATEGORIA / PUESTO', 'CONVENIO', 'NIVEL SALARIAL', 'FTE',
       'GRUPO COSTE', 'MANAGER', 'Nº S.S.', 'GRUPO COTIZACION',
       'CENTRO DE COTIZACION', 'RESPONSABLE PC',
       'APROBADOR PORTAL DEL EMPLEADO', 'MAIL APROBADOR',
       'SEGUNDO APROBADOR COMPRAS', 'MAIL SEGUNDO APROV. COMPRAS',
       'REVENUES Actual YTD', 'REVENUES Budget YTD  ', 'REVENUES VAR YTD',
       'OP Actual YTD', 'OP Budget YTD  ', 'OP VAR YTD'],
      dtype='object')

In [22]:
df2.dropna(subset = ['REVENUES Actual YTD'], inplace=True)

In [23]:
df2['REVENUES Actual YTD'].shape

(13736,)

In [24]:
df3= pd.read_excel('/home/antonio/Documentos/BV/RRHH/Data/Informe trimestral Q4 2020.xlsx',engine='openpyxl',sheet_name='BAJAS YTD')
df3.columns

Index(['MES', 'PAIS', 'EMPRESA', 'RAZON SOCIAL', 'CIF', 'COD FLEX EMPRESA',
       'COD TRABAJADOR', 'APELLIDO 1', 'APELLIDO 2', 'NOMBRE',
       'FECHA NACIMIENTO', 'Nº FLEX', 'SF ID', 'MAIL TRABAJADOR',
       'FECHA ANTIGUEDAD', 'FECHA ALTA', 'FECHA BAJA', 'TIPO DE BAJA',
       'CATEGORIA BAJA', 'NIF', 'SEXO', 'MODALIDAD DEL CONTRATO', 'NIVEL1',
       'NIVEL2', 'NIVEL3', 'PC', 'CENTRO FISICO', 'COD FLEX CENTRO FISICO',
       'PUESTO/ CATEGORIA', 'CONVENIO', 'NIVEL SALARIAL', 'FTE', 'GRUPO COSTE',
       'MANAGER', 'Nº S.S.', 'GRUPO COTIZACION', 'CENTRO DE COTIZACION',
       'RESPONSABLE PC', 'N+1', 'MAIL N+1', 'SEGUNDO APROBADOR COMPRAS',
       'MAIL SEGUNDO APROB. COMPRAS'],
      dtype='object')

In [25]:
df3=df3[['NIF','FECHA ALTA', 'FECHA BAJA', 'TIPO DE BAJA','CATEGORIA BAJA','MODALIDAD DEL CONTRATO','PC']]

In [26]:
df3

,NIF,FECHA ALTA,FECHA BAJA,TIPO DE BAJA,CATEGORIA BAJA,MODALIDAD DEL CONTRATO,PC
0,051679500H,2011-08-01,2020-01-07,DESPIDO,NaN,100-Indefinido. Tiempo completo. Ordinario.,0071GSBL1
1,033353066F,2017-01-23,2020-01-31,DIMISION/BAJA VOLUNTARIA,EXCEDENCIA VOLUNTARIA,100-Indefinido. Tiempo completo. Ordinario.,0071CEAF1
2,039656547Q,2001-09-03,2020-01-10,DESPIDO,NaN,100-Indefinido. Tiempo completo. Ordinario.,0071IT431
3,039714860R,2004-07-14,2020-01-10,DIMISION/BAJA VOLUNTARIA,NaN,100-Indefinido. Tiempo completo. Ordinario.,0071IT431
4,078714093C,2020-01-01,2020-01-31,DIMISION/BAJA VOLUNTARIA,NaN,189-Indefinido. Tiempo completo. Transformació...,0434OP381
...,...,...,...,...,...,...,...
467,075381935X,2020-12-16,2020-12-17,FIN DE CONTRATO,NaN,501-Tiempo parcial. Obra o servicio determinado.,0434TRBL1
468,044706694F,2020-12-03,2020-12-03,FIN DE CONTRATO,NaN,401-Obra o servicio determinado.,0434HIEN4
469,040882378Q,2020-12-10,2020-12-18,FIN DE CONTRATO,NaN,401-Obra o servicio determinado.,0434HIEN5
470,031860203M,2020-12-14,2020-12-23,FIN DE CONTRATO,NaN,401-Obra o servicio determinado.,0434HIEN4
471,071022017H,2020-10-05,2020-11-24,FIN DE CONTRATO,NaN,501-Tiempo parcial. Obra o servicio determinado.,0071CE282

In [27]:
df4= pd.read_excel('/home/antonio/Documentos/BV/RRHH/Data/Informe trimestral Q4 2020.xlsx',engine='openpyxl',sheet_name='ALTAS YTD')
df4.columns

Index(['MES', 'PAIS', 'EMPRESA', 'RAZON SOCIAL', 'CIF', 'COD FLEX EMPRESA',
       'COD TRABAJADOR', 'APELLIDO 1', 'APELLIDO 2', 'NOMBRE',
       'FECHA NACIMIENTO', 'Nº FLEX', 'SF ID', 'MAIL TRABAJADOR',
       'FECHA ANTIGUEDAD', 'FECHA ALTA', 'NIF', 'SEXO',
       'MODALIDAD DEL CONTRATO', 'IND/TEMP', 'NIVEL1', 'NIVEL2', 'NIVEL3',
       'PC', 'CENTRO FISICO', 'COD FLEX CENTRO FISICO', 'PUESTO / CATEGORIA',
       'CONVENIO', 'NIVEL SALARIAL', 'FTE', 'GRUPO COSTE', 'MANAGER',
       'Nº S.S.', 'GRUPO COTIZACION', 'CENTRO DE COTIZACION', 'RESPONSABLE PC',
       'N+1', 'MAIL N+1', 'SEGUNDO APROBADOR COMPRAS',
       'MAIL SEGUNDO APROB. COMPRAS'],
      dtype='object')

In [31]:
df4=df4[['NIF','FECHA ANTIGUEDAD','FECHA ALTA','MODALIDAD DEL CONTRATO']]

In [28]:
#df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['NIF'],how='outer'), data_frames)

In [32]:
df_merged=pd.merge( df2 ,df3, on='NIF', how='outer')

In [33]:
df_merged=pd.merge( df_merged ,df4, on='NIF', how='outer')

In [13]:
df_merged['NOMBRE Y APELLIDOS']= df_merged['NOMBRE_x'] + " " + df_merged['PRIMER APELLIDO']+ " " +df_merged['SEGUNDO APELLIDO']

In [14]:
df_merged2=pd.merge( df_merged ,df4, on='NIF', how='outer')

In [15]:
df_merged2.columns

Index(['MES_x', 'PAIS_x', 'EMPRESA_x', 'RAZON SOCIAL_x', 'CIF_x',
       'CODIGO FLEX EMPRESA', 'CODIGO GPCN', 'PRIMER APELLIDO',
       'SEGUNDO APELLIDO', 'NOMBRE_x',
       ...
       'GRUPO COSTE', 'MANAGER', 'Nº S.S.', 'GRUPO COTIZACION',
       'CENTRO DE COTIZACION', 'RESPONSABLE PC', 'N+1_y', 'MAIL N+1_y',
       'SEGUNDO APROBADOR COMPRAS', 'MAIL SEGUNDO APROB. COMPRAS_y'],
      dtype='object', length=125)

df_merged2=df_merged2[['MES', 'PAIS', 'EMPRESA', 'RAZON SOCIAL', 'CIF', 'CODIGO FLEX EMPRESA',
       'CODIGO GPCN', 'NOMBRE Y APELLIDOS','PRIMER APELLIDO', 'SEGUNDO APELLIDO', 'NOMBRE',
       'FECHA NACIMIENTO', 'Nº FLEX', 'CODIGO SF', 'MAIL TRABAJADOR',
       'FECHA ANTIGUEDAD', 'NIF', 'SEXO', 'MODALIDAD DEL CONTRATO', 'NIVEL1',
       'NIVEL2', 'NIVEL3', 'PC', 'OFICINA FISICA', 'CODIGO FLEX OFICINA',
       'CATEGORIA / PUESTO', 'CONVENIO', 'NIVEL SALARIAL', 'FTE',
       'GRUPO COSTE', 'MANAGER', 'Nº S.S.', 'GRUPO COTIZACION',
       'CENTRO DE COTIZACION', 'RESPONSABLE PC',
       'APROBADOR PORTAL DEL EMPLEADO', 'MAIL APROBADOR',
       'SEGUNDO APROBADOR COMPRAS', 'MAIL SEGUNDO APROV. COMPRAS',
       'REVENUES Actual YTD', 'REVENUES Budget YTD  ', 'REVENUES VAR YTD',
       'OP Actual YTD', 'OP Budget YTD  ', 'OP VAR YTD','FECHA ANTIGUEDAD','FECHA ALTA_x','FECHA BAJA','TIPO DE BAJA','CATEGORIA BAJA','FECHA ALTA_y','FECHA ANTIGUEDAD_y']]

In [35]:
df_merged.to_excel('/home/antonio/Documentos/BV/RRHH/Data/prueba.xlsx')